body {
  overflow: hidden;
  background-color:#e6ffe6 ;
}
header {
  color: white;
  display: flex;
  position: relative;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 160rem;
  background-color: green;
}

#logo {
  margin-right: auto;
  font-family: "Gabarito", sans-serif;
  padding: 12px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

#toDos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plus {
  display: flex;
}

#sidebar {
  display: flex;
  justify-content: center;
  background-color: lightgreen;
  width: 120rem;
  position: relative;
  top:2rem;
  left:20.5rem;
}

.navBtn {
  justify-content: center;
  background-color: lightgreen;
  border-style: solid;
  border-color: lightgreen;
  color: green;
  cursor: pointer;
  width: 5rem;
}

.navBtn:hover {
  border-color: #e6ffe6;
  background-color: #e6ffe6;
}

.tabText {
  position: relative;
  right: 5rem;
  font-size: 1.1em;
}
