body {
  overflow: hidden;
  background-color: #e6ffe6;
}
header {
  color: white;
  display: flex;
  position: relative;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 160rem;
  background-color: green;
}

#logo {
  margin-right: auto;
  font-family: "Gabarito", sans-serif;
  padding:12px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

#toDos {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#todayToDo {
  position:relative;
  right:25rem;
}

#addTask {
  position:relative;
  right:23rem;
  bottom:0.5rem;
  background-color: #e6ffe6;
  border-style:solid;
  border-color: #e6ffe6;
  cursor:pointer;
  font-size:1em;
}

#addTask:hover {
  color:green;
}

#free {
  font-weight:lighter;
  position:relative;
  top: 10rem;
}

.plus {
  display:flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  width: 11.5rem;
  height: 80rem;
  position: relative;
  bottom: 12.35rem;
  right: 0.5rem;
}

.navBtn {
    background-color: lightgreen;
    border-style:solid;
    border-color:lightgreen;
    color:green;
    cursor:pointer;
    width:14.02rem;   
}

.navBtn:hover {
    border-color:#e6ffe6;
    background-color: #e6ffe6;
}

.tabText {
    position:relative;
    right:5rem;
    font-size:1.1em;
}